### Puppet Apply Failures

The following hosts were unable to apply Puppet configuration checkout {{ .Report.ConfigurationVersion }} please fix the cause of the error and close this issues once Puppet has been successfully applied to these hosts.

#### *Hosts:* `{{ .CompressedHosts }}`

#### *Logs:*

{{ range $log := .Report.Logs }}
-  **{{ $log.Source }}**
    ```
{{ indent 4 $log.Message }}
    ```
{{ end }}
