{{- range $resource := .GroupedResources }}
  {{- if eq $resource.Approved "Not Approved" }}
- **{{ $resource.Title }}:** Not Approved
    {{- if $resource.File }}
      {{- if gt (len $resource.Owners.File) 0 }}
  - File: {{ $resource.Owners.File | join ", " | replace "@" "" }}
      {{- else }}
  - File: Unowned
      {{- end }}
    {{- end }}
    {{- if gt (len $resource.Owners.Module) 0 }}
  - Module: {{ $resource.Owners.Module | join ", " | replace "@" "" }}
    {{- else }}
  - Module: Unowned
    {{- end }}
  - Nodes:
    {{- range $file, $owners := $resource.Owners.NodeFiles }}
      {{- if gt (len $owners) 0 }}
    - {{ $file }}: {{ $owners | join ", " | replace "@" "" }}
      {{- else }}
    - {{ $file }}: Unowned
      {{- end }}
    {{- end }}
  {{- else }}
- **{{ $resource.Title }}:** Approved
    {{- if eq $resource.Approved "Source File Approved" }}
  - File: {{ $resource.Approvals.File | join ", " | replace "@" "" }}
    {{- else if eq $resource.Approved "Module Approved" }}
  - Module: {{ $resource.Approvals.Module | join ", " | replace "@" "" }}
    {{- else if eq $resource.Approved "Nodes Approved" }}
  - Nodes:
      {{- range $file, $approvers := $resource.Approvals.NodeFiles }}
      - {{ $file }}: {{ $approvers | join ", " | replace "@" "" }}
      {{- end }}
    {{- else }}
  - "Error unknown approval method"
    {{- end }}
  {{- end }}
{{- end }}
