### Puppet Clean Failures

The following hosts were applied with a dirty revision of the Puppet repository {{ .DirtyLastApply }}-dirty. Heckler has tried to noop this box with its dirty revision as well as nearby revisions, but it is unable to find a noop which does not result in a diff. Please apply these hosts with a known commit to remove the diffs. After you Puppet apply these hosts, please close this issue.

#### *Hosts:* `{{ .CompressedHosts }}`

#### *Logs:*

{{ range $log := .Report.Logs }}
-  **{{ $log.Source }}**
    ```
{{ indent 4 $log.Message }}
    ```
{{ end }}
