### Commit [{{ .AsObject.Id }}](https://github.braintreeps.com/lollipopman/muppetshow/commit/{{ .AsObject.Id }})

- *Author:* {{ .Author.Name }} (<{{ .Author.Email }}>)
- *Message:*
  ```
{{ .Message | indent 2 }}
  ```

