### Commit [{{ .Commit.AsObject.Id }}](https://{{ .Conf.GitHubDomain }}/{{ .Conf.RepoOwner }}/{{ .Conf.Repo }}/commit/{{ .Commit.AsObject.Id }})

- *Author:* {{ .Commit.Author.Name }} (<{{ .Commit.Author.Email }}>)
- *Message:*
  ```
{{ .Commit.Message | indent 2 }}
  ```
Note: If it is found that this commit shouldn't go out to production, please revert it and work on it on another branch.
