### Commit [{{ .Commit.AsObject.Id }}](https://{{ .Conf.GitHubDomain }}/{{ .Conf.RepoOwner }}/{{ .Conf.Repo }}/commit/{{ .Commit.AsObject.Id }})

- *Author:* {{ .Commit.Author.Name }} (<{{ .Commit.Author.Email }}>)
- *Message:*
  ```
{{ .Commit.Message | indent 2 }}
  ```

