### Puppet Resource Changes (noop)
{{ range $i, $resource := . }}
{{ add $i 1 }}.  **{{ $resource.Title }}**
    {{- if $resource.Diff }}
    - *Diff:*
      ```diff
{{ indent 6 $resource.Diff }}
      ```
    {{- end }}
    - *Hosts:* {{ $resource.Nodes | join ", "}}
    {{- if $resource.DefineType }}
    - *Define Type:* **{{ $resource.DefineType }}**
    {{- end }}
    {{- range $resource.Events }}
    - *Current State:* {{ .PreviousValue }}
    - *Desired State:* {{ .DesiredValue }}
    {{- end }}
    {{- if $resource.Logs }}
    - *Logs:*
    {{- range $resource.Logs }}
        - {{ .Message }}
    {{- end }}
    {{- end }}
{{ end }}
