### Locked

The following hosts were locked by another user during the noop run, consequently they are unrepresented in the above resource noops.
{{ range $gls := .GroupedLockStates }}
- *Hosts:* `{{ $gls.Hosts }}`
  -  *User:* {{ $gls.LockState.User }}
  -  *Comment:* {{ $gls.LockState.Comment }}
{{ end }}
