### Errors

The following hosts errored during the noop run, consequently they are unrepresented in the above noop output.
{{- if or (gt (len $.EvalErrors) 0) (gt (len $.ParentEvalErrors) 0) }}

#### Language Evaluation Errors

{{ range $error := .EvalErrors }}
- *Hosts:* `{{ $error.Hosts }}`
  - *Error:*
    ```
{{ indent 4 $error.Error }}
    ```
{{- end }}
{{ range $error := .ParentEvalErrors }}
- *Hosts:* `{{ $error.Hosts }}`
  - *Error:* {{ $error.Type }} {{ $error.Error }}
{{- end }}
{{- end }}

{{- if gt (len $.OtherErrors) 0 }}
#### General Errors

{{- range $error := .OtherErrors }}
- *Hosts:* `{{ $error.Hosts }}`
  - *Error:* {{ $error.Type }} {{ $error.Error }}
{{- end }}

{{- end }}

