Source: heckler
Section: misc
Priority: optional
Maintainer: Jesse Hathaway <hathaway@paypal.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.braintreeps.com/lollipopman/heckler
XS-Go-Import-Path: github.braintreeps.com/lollipopman/heckler

Package: heckler
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Built-Using: ${misc:Built-Using},
Description: Puppet noop review automater

Package: rizzo
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Built-Using: ${misc:Built-Using},
Description: Heckler node client for applying Puppet
