[Unit]
Documentation=https://github.braintreeps.com/lollipopman/heckler
Description=Heckler daemon, runs on central server
Before=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/hecklerd

[Install]
WantedBy=multi-user.target
