[Unit]
Documentation=https://github.com/lollipopman/heckler
Before=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/rizzod
MemoryAccounting=true
MemoryHigh=800M
MemoryLimit=1024M
MemoryMax=1024M
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
