#!/usr/bin/make -f

HECKLER_VERSION := $(shell git describe --abbrev=0 | sed 's/^v//')
export DH_VERBOSE := 1
export DH_GOLANG_INSTALL_EXTRA := vendor/github.com/libgit2/git2go/v30/static-build \
	$(shell find . -name '*.tmpl') muppetshow
export DEB_BUILD_OPTIONS := nostrip
export CC := /usr/local/musl/bin/musl-gcc
GO_LDFLAGS := -X main.Version=$(HECKLER_VERSION) -extldflags=-static -linkmode=external
export GOFLAGS := -mod=vendor -tags=static,osusergo

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_build:
	dh_auto_build -O--buildsystem=golang -- -ldflags '$(GO_LDFLAGS)'

override_dh_auto_configure: vendor/github.com/libgit2/git2go/v30/static-build
	dh_auto_configure

vendor/github.com/libgit2/git2go/v30/static-build:
	./build-libgit2-static

override_dh_auto_install:
	dh_auto_install -- --no-source
